.navbar{
    height: 15vh; 
    width: 100%; 
    background-color: rgb(94, 4, 31); 
    padding: 25px; 
    display: flex; 
    justify-content: space-between; 
    box-sizing: border-box;
    align-items: center;
  }
  
  
#titre{
    color: white; 
    text-decoration: none; 
    font-size: 1.8em; 
    font-style: italic; 
}

.navbar .nav-links ul{
    display: flex; 
  }

.navbar .nav-links ul li{
    margin: 0 20px; 
    color: rgb(122, 121, 121); 
  }

.onglet{
    text-decoration: none; 
    color: white; 
    font-size: 1.2em; 
  }

p{
  font-weight:bold;
}

#equipes{
    border: solid; 
    padding: 20px; 
    margin: 15px; 
    background-image: url(ballon2.jpg); 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed;
}

#resultats, #classement{
    border: dashed; 
    margin: 15px; 
}

h2{
  font-size: 2.2em; 
}

ul {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-auto-flow: column;
}

li{
  margin-right: 30px; 
  padding: 3px; 
}

#btn-container{
  margin-top: 35px; 
  margin-bottom: 30px;
}

#container{
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: space-between; 
  margin-top: 20px; 
}

#poule1, #poule2, #poule3{
  border: dashed; 
}

h4{
  font-size: 1.3em; 
}